body{
    display: inline-block;
    margin-left: 100px;
    margin-right: 80px;
    font-family: sans-serif;
}
.container{
    margin-left: 100px;
}
.paragraph{
    width: 60%;
}
.hashtag-container{
    display: flex;
    margin-top: 15px;
}
.hash{
    padding: 10px;
    font-weight: bold;
}
.hash i {
    color: rgb(32, 241, 32);
    width: 30px;
}





/*blog sektion*/
.blog{
    margin-top: 4px;
    padding-top: 10px;
    margin-bottom: 100px;
}
.section-subtitle h2{
    margin: 0;
    letter-spacing: 1px;
}
.section-title{
    width: 65%;
    color: #113CFC;
    font-weight: 500px;
}
.blur-line{
    display: inline-block;
    margin-left: 5px;
    width: 40px;
    height: 4px;
    background-color: rgba(237, 35, 159, 0.61111);
    /* filter: blur(4px); */5
    border-radius: 4px;
}

.blog-items{
    margin-top: 50px;
    position: relative;   
    display: flex;
    justify-content: center;
}
.blog-item {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    box-sizing: border-box; 
    flex-direction: row;
}
.blog-item:hover{
    box-shadow: 0px 10px 20px rgb(5 54 77 / 10% );
}
.blog-item:hover .blog-item__info{
    background-color: white;
}
.blog-item__image img {
    width: 100%;
    height: 200px;
}
.blog-item__info{
    background-color: #f8faff;
    padding: 30px;
    color: #797979;
    /* height: 30%; */
}
.blog-item__main-info span {
    font-size: 14px;
    margin-right: 30px;
    font-weight: lighter;
}
.blog-item__info i {
    margin-right: 5px;
}
.blog-item__title{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: midnightblue;
    font-weight: 700;
}
.blog-item__description {
    line-height: 27px;
    font-weight: 400;
    font-size: 15px;
}
.blog-item__learn-more{
    background-color: #318cc5;
    padding: 10px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    letter-spacing: 2px;

}
.blog-item__learn-more:hover {
    color: white;
    background-color: #1f5eb1;
} 
.blog-item__learn-more:hover::after {
    transform: translate(0, 0);
}


